[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
python-telegram-bot = "*"
flask = "*"
uwsgi = "*"
celery = "*"
redis = "*"

[requires]
python_version = "3.6"

[scripts]
_web = "uwsgi --socket 0.0.0.0:8990 --protocol=http -w wsgi:webserver"
_bot = "python -m telegram_notify"
_celery = "celery worker -A wsgi:celery -l INFO"
_dev = "python -m telegram_notify"