[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
python-telegram-bot = "*"
flask = "*"
uwsgi = "*"
celery = "*"
redis = "*"
sqlalchemy = "*"
pipenv-setup = "*"

[requires]
python_version = "3.6"

[scripts]
_uwsgi = "uwsgi --ini webserver.ini"
_celery = "celery -A telegram_notify:celery worker -l INFO"
_bot = "python -m telegram_notify --bot"
dev_web = "python -m telegram_notify --web"
setup = "pipenv-setup sync"
