[Unit]
Description=uWSGI instance to serve telegram_notify's webserver
After=network.target

[Service]
WorkingDirectory=/home/max/myproject
Environment="PATH=/home/max/myproject/myprojectenv/bin"
Environment="TELEGRAM_TOKEN=1234"
Environment="CHAT_ID=123"
ExecStart=/home/max/myproject/myprojectenv/bin/uwsgi --ini webserver.ini

[Install]
WantedBy=multi-user.target